<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Form</title>
</head>
<body>
    <h1>Schedule an appointment</h1>
    <form method="post" action="/process-form">
        <label for="name">Your Name:</label>
        <input type="text" name="name" required><br>

        <label for="phone">Your Phone:</label>
        <input type="tel" name="phone" required><br>

        <label for="email">Your Email:</label>
        <input type="email" name="email" required><br>

        <label for="pemail">Practicioner's Email:</label>
        <input type="email" name="pemail" required><br>

        <label for="date">Preferred Date:</label>
        <input type="date" name="date" required><br>

        <label for="time">Preferred Time:</label>
        <input type="time" name="time" required><br>

        <button type="submit">Book Now</button>
    </form>
</body>
</html>
