<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CareEttan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/fontawesome-free/css/all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">

   
  </head>

  <body>
    <header class="foi-header landing-header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light foi-navbar">
          <a class="navbar-brand" href="main.html">
            <!-- <img src="assets/images/logo.svg" alt="FOI" /> -->
          </a>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-toggle="collapse"
            data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="main.html"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="features.html">Features</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="pagesMenu"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Pages</a
                >
                <div class="dropdown-menu" aria-labelledby="pagesMenu">
                  <a class="dropdown-item" href="blog.html">Blog</a>
                  <a class="dropdown-item" href="login.html">Login</a>
                  <a class="dropdown-item" href="register.html">Register</a>
                  <a class="dropdown-item" href="faq.html">FAQ</a>
                  <a class="dropdown-item" href="404.html">404</a>
                  <a class="dropdown-item" href="careers.html">Careers</a>
                  <a class="dropdown-item" href="blog-single.html"
                    >Single blog</a
                  >
                  <a class="dropdown-item" href="privacy-policy.html"
                    >Privacy policy</a
                  >
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">contact</a>
              </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item mr-2 mb-3 mb-lg-0">
                <a class="btn btn-secondary" href="register.html">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-secondary" href="login.html">Login</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="header-content">
          <div class="row">
            <div class="col-md-6">
              <h1>
               CareEttan: Your virtual oasis for stress-free
                living.
              </h1>
              <p class="text-dark">
                Offering personalized solutions for a harmonious
                mind-body balance. 
              </p> 
              <a href="{{ url_for('start') }}">
              <button class="btn btn-primary mb-4">Let's get started!</button>
            </a>
              <div class="my-2">
                <!-- <p class="header-app-download-title">GET OUR MOBILE APP</p> -->
              </div>
              <div>
                <!-- <button class="btn btn-app-download mr-2">
                  <img src="assets/images/ios.svg" alt="App store" />
                </button>
                <button class="btn btn-app-download">
                  <img src="assets/images/android.svg" alt="play store" />
                </button> -->
              </div>
            </div>
            <div class="col-md-6">
              <img
              src="{{ url_for('static', filename='assets/images/home.gif') }}"
                alt="app"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="py-5 mb-5">
      <div class="container">
        <h2 class="section-title">Application Features</h2> <br/>
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <h5>Personalized Stress Assessments</h5>
            <p class="text-dark">
              "Precision meets well-being as our app analyzes individual stress triggers, providing custom insights for balance.
            </p>
            <p class="mb-5">
            
            </p>
            <h5>Customized Relaxation Plans</h5>
            <p class="text-dark">
              Indulge in tailored tranquility with personalized relaxation plans, seamlessly blending mindfulness and rejuvenation for you.
            </p>
            <p class="mb-5">
            
            </p>
          </div>
          <div class="col-lg-4 mb-3 mb-lg-0">
            <h5>Interactive Stress Relief Activities</h5>
            <p class="text-dark">
              Elevate relaxation with our app's interactive activities, turning stress relief into engaging and enjoyable moments.
            </p>
            <p class="mb-5">
             
            </p>
            <h5>Professional Care and Guidance</h5>
            <p class="text-dark">
              Experience stress management with expert care and guidance, ensuring your well-being journey is professionally supported.
            </p>
            <p class="mb-5">
            
            </p>
        </div>
      </div>
    </section>
    <section class="py-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <img
            src="{{ url_for('static', filename='assets/images/stressed.gif') }}"
              alt="special offers"
              class="img-fluid"
              width="492px"
            />
          </div>
          <div class="col-md-6">
            <h2 class="section-title">
              Scene aano bro?
            </h2>
            <p class="mb-5">
              Are you bursting at the seams with stress? Remember, stress is a natural part of life, but how you manage it makes all the difference. Take a deep breath, and let us guide you through the path of effective stress management.
            </p>
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="media landing-feature">
                  <span class="landing-feature-icon"></span>
                  <div class="media-body">
                    <h5>Understanding Stress</h5>
                    <p>
                      Gain insights into the nature of stress and its role in daily life.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="media landing-feature">
                  <span class="landing-feature-icon"></span>
                  <div class="media-body">
                    <h5>Personalized Coping Strategies</h5>
                    <p>
                      Explore tailored stress management techniques designed to suit your unique needs. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="media landing-feature">
                  <span class="landing-feature-icon"></span>
                  <div class="media-body">
                    <h5>Community Support and Encouragement</h5>
                    <p>
                      Connect with a supportive community where you can share experiences, seek advice, and find encouragement 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="py-5 mb-5">
      <div class="container">
        <h2>Satisfied Users</h2>
        <p class="text-muted mb-5">
          Hear from our clients
        </p>
        <div class="row">
          <div class="col-md-4 foi-review mb-5 mb-md-0">
            <div class="foi-rating">
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
            </div>
            <h5 class="foi-review-heading">Engaging Stress Relief</h5>
            <p class="foi-review-content">
              I've never seen a stress management app this engaging! The interactive activities are not only fun but genuinely effective in diverting my mind. The games are a brilliant touch, providing a healthy escape when I need it
            </p>
            <div class="media foi-review-user">
              <img
              src="{{ url_for('static', filename='assets/images/avatar/avatar_11.jpg') }}"
                alt="user"
                class="avatar"
              />
              <div class="media-body">
                <h6 class="mb-0">Sherhin P P</h6>
                <p>UX Designer</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 foi-review mb-5 mb-md-0">
            <div class="foi-rating">
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
            </div>
            <h5 class="foi-review-heading">Fun and Effective</h5>
            <p class="foi-review-content">
              This app makes stress relief enjoyable! The variety of games and activities keep me entertained while effectively reducing my stress levels.
            </p>
            <div class="media foi-review-user">
              <img
              src="{{ url_for('static', filename='assets/images/avatar/avatar_12.jpg') }}"
                alt="user"
                class="avatar"
              />
              <div class="media-body">
                <h6 class="mb-0">Nakul Vijay</h6>
                <p>Developer</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 foi-review mb-5 mb-md-0">
            <div class="foi-rating">
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
              <span class="fas fa-star checked"></span>
            </div>
            <h5 class="foi-review-heading">Game-Changing Stress App</h5>
            <p class="foi-review-content">
              Finally, a stress app that understands the power of play! The interactive activities are not only entertaining but surprisingly effective in calming my mind.
            </p>
            <div class="media foi-review-user">
              <img
              src="{{ url_for('static', filename='assets/images/avatar/avatar_13.jpg') }}"
                alt="user"
                class="avatar"
              />
              <div class="media-body">
                <h6 class="mb-0">Angel Rose</h6>
                <p>UX Designer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <footer class="foi-footer text-white">
      <div class="container">
        <div class="row footer-content">
          <div class="col-xl-6 col-lg-7 col-md-8">
            <h2 class="mb-0">
              Your Stress-Free Connection Starts Here.
            </h2>
          </div>
          <div
            class="col-md-4 col-lg-5 col-xl-6 py-3 py-md-0 d-md-flex align-items-center justify-content-end"
          >
            <a href="contact.html" class="btn btn-danger btn-lg"
              >Contact form</a
            >
          </div>
        </div>
        <div class="row footer-widget-area">
          <div class="col-md-3">
            <div class="py-3">
              <nav>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#!" class="nav-link">Account</a>
                  </li>
                  <li class="nav-item">
                    <a href="#!" class="nav-link">My tasks</a>
                  </li>
                  <li class="nav-item">
                    <a href="#!" class="nav-link">Projects</a>
                  </li>
                  <li class="nav-item">
                    <a href="#!" class="nav-link">Edit profile</a>
                  </li>
                  <li class="nav-item">
                    <a href="#!" class="nav-link">Activity</a>
                  </li>
                </ul>
              </nav>              
            </div>
          </div>
          <div class="col-md-3 mt-3 mt-md-0">
            <nav>
              <br>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a href="#!" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link"
                    >Careers
                    <span class="badge badge-pill badge-secondary ml-3"
                      >Hiring</span
                    ></a
                  >
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="#!" class="nav-link">Shop with us</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-3 mt-3 mt-md-0">
            
          </div>
          <div class="col-md-3 mt-3 mt-md-0">
            <p>
              &copy; CodeCrafters
              
            </p>
            
            <nav class="social-menu">
              <a href="#!"
                ><img src="{{ url_for('static', filename='assets/images/facebook.svg') }}" alt="facebook"
              /></a>
              <a href="#!"
                ><img src="{{ url_for('static', filename='assets/images/instagram.svg') }}"  alt="instagram"
              /></a>
              <a href="#!"
                ><img src="{{ url_for('static', filename='assets/images/twitter.svg') }}"alt="twitter"
              /></a>
              <a href="#!"
                ><img src="{{ url_for('static', filename='assets/images/youtube.svg') }}" alt="youtube"
              /></a>
            </nav>
          </div>
        </div>
      </div>
    </footer>
    <script src="assets/vendors/jquery/jquery.min.js"></script>
    <script src="assets/vendors/popper.js/popper.min.js"></script>
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
